<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xx.jaseatschoicejava.mapper.TutorialMapper">
    <!-- 自定义查询：获取首页推荐的教程 -->
    <select id="selectFeaturedTutorials" resultType="com.xx.jaseatschoicejava.entity.Tutorial">
        SELECT * FROM tutorial WHERE featured = 1 ORDER BY create_time DESC LIMIT 2
    </select>
</mapper>
